<!DOCTYPE html>
<html lang="ko">
<head>
    {% include analytics.html %}
    {% include head.html %}
</head>
<body>
    <div class="container">
        {{ content }}

        <footer>
            <div class="google-colors">
                <span class="blue"></span>
                <span class="red"></span>
                <span class="yellow"></span>
                <span class="green"></span>
            </div>
            <p>&copy; 2026 seonghak. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
